/Ciência de Dados/1st sem. 2023/Atividades/Programação de Soluções Computacionais/projetos 1st/Aula01/build/
/Ciência de Dados/1st sem. 2023/Atividades/Programação de Soluções Computacionais/projetos 1st/Aula01/nbproject/private/
/Ciência de Dados/1st sem. 2023/Atividades/Programação de Soluções Computacionais/projetos 1st/atividades1st/nbproject/private/
/Ciência de Dados/1st sem. 2023/Atividades/Programação de Soluções Computacionais/projetos 1st/atividades1st/build/
