/Ciência de Dados/1st sem. 2023/PSC/JavaApplication1/nbproject/private/
/Ciência de Dados/1st sem. 2023/PSC/SegundaFeiraNoite/nbproject/private/
/Ciência de Dados/1st sem. 2023/PSC/SegundaFeiraNoite/build/
/Ciência de Dados/1st sem. 2023/PSC/SegundaFeiraNoite/dist/
/Ciência de Dados/1st sem. 2023/PSC/Projects/target/
